/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.search-form{
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-container{
    display: flex;
    justify-content: center;
    margin: 10px 10%;
}

.table-container table{
    width:100%;
}
